/* Common Css Start */
:root {
  --primary-color: #0b1016;
  --secondary-color: #02918c;
  --secondary-text-color: #878a8f;
  --default-black: #000000;
  --gray-white: #f4f3f3;
  --default-white: #ffffff;
  --icon-color: #484848;
  --hover-color: #cfc91d;
}
.form-control:focus {
  outline: 0;
  box-shadow: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
a,
button {
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
span,
small {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style-type: none;
}
a,
a:hover {
  text-decoration: none;
}
/* //Common Css End */

/* nav css section start */
#mynav {
  background: var(--secondary-color);
}

#mynav ul li a {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 200%;
  color: var(--default-white);
  text-transform: uppercase;
  padding: 14px 23px;
  position: relative;
}

#mynav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: var(--hover-color);
  transition: 0.6s;
}

#mynav ul li:hover a::after,
#mynav ul li a.active::after {
  width: 100%;
  left: 0;
}

/* nav css section end */


/* bannar section css start */

#banner{
  background-image: url(../images/bannar_bg.jpg);
  background-size: cover;
  height: 728px;
  text-align: center;
  position: relative;
  z-index: 1;
}

#banner::before{
  content: '';
  background-color:var(--default-black);
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
}

#banner .container{
  margin: auto;
}

#banner img{
  display: block;
  margin: 52px auto;
}

#banner h3{
  font-size: 30px;
  font-weight: 400;
  color: var(--default-white);
}

#banner h1{
  font-size: 68px;
  font-weight: 800;
  color: white;
  letter-spacing: 30px;
  text-transform: uppercase;
}

#banner p{
  font-size: 18px;
  color: var(--default-white);
}

#banner a{
  font-size: 14px;
  font-weight: 800;
  color: var(--gray-white);
  letter-spacing: 2px;
  background-color: var(--secondary-text-color);
  padding: 19px 42px;
  text-transform: uppercase;
  transition: 0.7s;
}

#banner a:hover{
  color: var(--primary-color); 
  background-color: var(--hover-color);
}

/* banner section css end */
